<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />


    <!-- 百度地图GL -->
    <script src="//api.map.baidu.com/api?v=1.0&type=webgl&ak=L2BqxrumWCQogRgq2SyQO3RUpEOk0ZgK"></script>
    <script src="static/my_common.js"></script>
    <script src="https://unpkg.com/mapvgl/dist/mapvgl.min.js"></script>
    <script src="https://unpkg.com/mapvgl/dist/mapvgl.threelayers.min.js"></script>
    <script src="//mapv.baidu.com/build/mapv.min.js"></script>
    <script src="https://code.bdstatic.com/npm/mapvgl@1.0.0-beta.46/dist/mapvgl.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- semantic UI -->
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/sidebar.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/sidebar.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/statistic.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/divider.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/input.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/accordion.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/accordion.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/button.css" rel="stylesheet">

    <!-- echarts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

    <!-- 百度地图封装api -->
    <script src="static/common.js"></script>
    <script src="static/function.js"></script>

    <link rel="stylesheet" type="text/css" href="static/component.css">



    <title>汽车城项目demo-v0.1</title>

    <style type="text/css">
	</style>
</head>

<body>
    <div id="mySidebar" class="ui right inverted vertical menu sidebar">
        <script src="static/sidebar.js"></script>

        <!-- <a class="item" href="realtime_map.html" >
            实时信息
        </a>
        <a class="item" href="history_trace.html" >
            历史轨迹信息
        </a>
        <a class="item" href="time_trace.html" >
            历史动态信息
        </a>
        <a class="item" href="single_car.html" >
            单车详细信息
        </a>
        <a class="item" href="gather_info.html" >
            历史统计信息
        </a> -->
    </div>
    <div class="pusher" style="height: 100%; margin: 0" >
        <div class="my_chart_container" style="width: 100%;height: 100%; background: rgb(213, 221, 215); overflow: scroll;">
            <div style="height: 8%;width: 100%; float: left;">
            <!-- 下拉框 -->
            <div class="ui floating labeled icon dropdown button" style="float: left;">
                <i class="filter icon"></i>
                <span class="text">月</span>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>时间单位</div>
                    <!-- <div class="item" onclick= "(function(){
                        document.getElementById('start_time').type='datetime-local';
                        document.getElementById('end_time').type='datetime-local';
                    })()">分钟</div> -->
                    <div class="disabled item" onclick= "(function(){
                        document.getElementById('start_time').type='date';
                        document.getElementById('end_time').type='date';
                    })()">天</div>
                    <div class="disabled item" onclick= "(function(){
                        document.getElementById('start_time').type='week';
                        document.getElementById('end_time').type='week';
                    })()" >周</div>
                    <div class="item active selected" onclick= "(function(){
                        document.getElementById('start_time').type='month';
                        document.getElementById('end_time').type='month';
                    })()" >月</div>
                </div>
            </div>



            <!-- 时间选择 -->
            <div class="ui input" style="margin-left: 5%; float: left;"><input id="start_time" type="month" value="2019-08"/></div>

            <div class="ui input" style="margin-left: 5%; float: left;"><input id="end_time" type="month" value="2020-05"/></div>
            
            <!-- <div class="ui input" style="margin-left: 5%;  float: left;"><input type="text" placeholder="车牌号"></div> -->

            <button class="ui blue button" style="margin-left: 5%;float: left;" onclick="setTimeSpan()">
                查询
            </button>
            </div>


            <div class="ui accordion" >
                <div class="title" onclick="(function(){setTimeout(myChart1_resize, 100);})()">
                    <i class="dropdown icon"></i>
                    汇总信息
                </div>
                <div class="content">
                    <div style="height: 700px;">
                        <div id="pic_1_1" style="height: 48%; width: 42%; float: left; "></div>
                        <div id="pic_1_2" style="height: 48%; width: 7%; float: left; "></div>
                        <div id="pic_1_3" style="height: 48%; width: 42%; float: left;"></div>
                        <div id="pic_1_4" style="height: 48%; width: 7%; float: left;"></div>
                        <div id="pic_1_5" style="height: 48%; width: 49%; float: left;"></div>
                        <div id="pic_1_6" style="height: 48%; width: 49%; float: left;"></div>
                    </div>
                </div>
                <div class="title" onclick="(function(){setTimeout(myChart2_resize, 100);})()">
                    <i class="dropdown icon"></i>
                    企业信息
                </div>
                <div class="content">
                    <div style="margin-bottom: 2%;">
                        <div class="ui positive check button">全选</div>
                        <div class="ui toggle button">反选</div>
                        <div class="ui negative uncheck button">清空</div>
                        <div class="ui info2 checkbox">
                            <input type="checkbox" name="example">
                            <label>企业1</label>
                        </div>
                        <div class="ui info2 checkbox">
                            <input type="checkbox" name="example">
                            <label>企业2</label>
                        </div>
                        <div class="ui info2 checkbox">
                            <input type="checkbox" name="example">
                            <label>企业3</label>
                        </div>

                        <script>
                            $('.info2.checkbox').checkbox('attach events', '.toggle.button');
                            $('.info2.checkbox').checkbox('attach events', '.check.button', 'check');
                            $('.info2.checkbox').checkbox('attach events', '.uncheck.button', 'uncheck');
                        </script>
                    </div>

                    

                    <div style="height: 1050px;" >
                        <div id="pic_2_1" style="height: 33%; width: 42%; float: left; "></div>
                        <div style="height: 33%; width: 14%; float: left;"> 
                            <div id="pic_2_2" style="height: 50%; width: 100%; float: left; "></div>
                            <div id="pic_2_3" style="height: 50%; width: 100%; float: left;"></div>
                        </div>
                        <div id="pic_2_4" style="height: 33%; width: 42%; float: left; margin-left: 2%;"></div>

                        <div id="pic_2_5" style="height: 33%; width: 42%; float: left; "></div>
                        <div style="height: 33%; width: 14%; float: left;"> 
                            <div id="pic_2_6" style="height: 50%; width: 100%; float: left; "></div>
                            <div id="pic_2_7" style="height: 50%; width: 100%; float: left;"></div>
                        </div>
                        <div id="pic_2_8" style="height: 33%; width: 42%; float: left; margin-left: 2%;"></div>

                        <div id="pic_2_9" style="height: 33%; width: 74%; float: left; "></div>
                        <div id="pic_2_10" style="height: 33%; width: 24%; float: left; "></div>

                        <!-- <div id="pic_2_5" style="height: 33%; width: 49%; float: left;"></div>
                        <div id="pic_2_6" style="height: 33%; width: 49%; float: left;"></div>
                        <div id="pic_2_6" style="height: 33%; width: 49%; float: left;"></div> -->
                    </div>
                </div>
                <div class="title" onclick="(function(){setTimeout(myChart3_resize, 100);})()">
                    <i class="dropdown icon"></i>
                    脱手率排名
                </div>
                <div class="content">
                    <div class="ui form" style="margin-left: 3%;">
                        <div class="grouped fields">
                            <label>排名实体</label>
                            <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="radio" name="throughput" checked="checked">
                                <label>企业</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="radio" name="throughput">
                                <label>车型</label>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 3%;">
                        <form oninput="x.value=range1.value">
                            <label> 0 </label>
                            <input type="range" id="range1" min="0" max="50" value="10" step="1" />
                            <label> 50   -> </label>
                            <output name="x" for="range1" ></output>
                        </form>

                    </div>
                    
                    <div style="height: 500px;" >
                    <div id="pic_3_1" style="height: 100%; width: 100%; float: left; "></div>                    
                </div>

            </div>


            <!-- <div style="height: 80%;width: 100%; float: left; margin-top: 1%;">
            <div id="pic_1_1" style="height: 48%; width: 42%; float: left; "></div>
            <div id="pic_1_2" style="height: 48%; width: 7%; float: left; "></div>
            <div id="pic_1_3" style="height: 48%; width: 42%; float: left;"></div>
            <div id="pic_1_4" style="height: 48%; width: 7%; float: left;"></div>
            <div id="pic_1_5" style="height: 48%; width: 49%; float: left;"></div>
            <div id="pic_1_6" style="height: 48%; width: 49%; float: left;"></div>
            <div id="pic_1_6" style="height: 48%; width: 49%; float: left;"></div>
            </div> -->
        </div>
    </div>
    <i id="back-to-top" style="display: inline; z-index: 999;" href="javascript:void(0);" onclick="$('.ui.sidebar').sidebar('toggle');"></i>
</body>
</html>

<!-- <script>
    var serverUrl = eval('{{result_json|safe }}')
</script> -->

<script>
    $('.ui.dropdown')
        .dropdown()
    ;

    $('.ui.accordion')
        .accordion()
    ;


</script>

<!-- 绘制图表 1-->
<script type="text/javascript">
    var myChart1_1 = echarts.init(document.getElementById('pic_1_1'));
    var option1_1 = {
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        // xAxis: {
        //     type: 'time',
        //     axisLabel: {
        //         formatter: function(value, index) {
        //             return new Date(value).getFullYear();
        //         }
        //     },
        // },
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    var res = value.toString();                                            
                    var numN1 = 0; 
                    var numN2 = 1;
                    var num1=0;
                    var num2=0;
                    var t1 = 1;
                    for(var k=0;k<res.length;k++){
                        if(res[k]==".")
                            t1 = 0;
                        if(t1)
                            num1++;
                        else
                            num2++;                                                                                              
                    }
                                                                    
                    if(Math.abs(value)<1 && res.length>4)
                    {
                        for(var i=2; i<res.length; i++){                                              
                            if(res[i]=="0"){
                                numN2++;
                            }else if(res[i]==".")
                                continue;
                            else
                                break;
                        }
                        var v = parseFloat(value);                                                
                        v = v * Math.pow(10,numN2);
                        return v.toString() + "e-" + numN2;
                    }else if(num1>4)
                    {
                        if(res[0]=="-")
                            numN1 = num1 - 2;
                        else
                            numN1 = num1 - 1;
                        var v = parseFloat(value);                                                
                        v = v / Math.pow(10,numN1);
                        if(num2 > 4)
                            v = v.toFixed(4);
                        return v.toString() + "e" + numN1;
                    }else
                        return parseFloat(value);                                                                                  
                }
            }
        },
        series: [
            {
                name: '自动驾驶里程',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '测试里程',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }
        ]
    };
    myChart1_1.setOption(option1_1);

    var myChart1_2 = echarts.init(document.getElementById('pic_1_2'));
    var option1_2 = {
        tooltip: {},
        // dataset: {
        //     source: [
        //         ['模式', '自动驾驶', '汇总'],
        //         ['里程', 800, 8583],
        //     ]
        // },
        xAxis: {
            type: 'category',
            data: ['里程'],
        },
        yAxis: {show: false},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [
            {
                name: '自动驾驶',
                type: 'bar',
                data: [800]
            },
            {
                name: '汇总',
                type: 'bar',
                data: [8583]
            }
        ]
    };
    myChart1_2.setOption(option1_2);

    var myChart1_3 = echarts.init(document.getElementById('pic_1_3'));
    var option1_3 = {
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    var res = value.toString();                                            
                    var numN1 = 0; 
                    var numN2 = 1;
                    var num1=0;
                    var num2=0;
                    var t1 = 1;
                    for(var k=0;k<res.length;k++){
                        if(res[k]==".")
                            t1 = 0;
                        if(t1)
                            num1++;
                        else
                            num2++;                                                                                              
                    }
                                                                    
                    if(Math.abs(value)<1 && res.length>4)
                    {
                        for(var i=2; i<res.length; i++){                                              
                            if(res[i]=="0"){
                                numN2++;
                            }else if(res[i]==".")
                                continue;
                            else
                                break;
                        }
                        var v = parseFloat(value);                                                
                        v = v * Math.pow(10,numN2);
                        return v.toString() + "e-" + numN2;
                    }else if(num1>4)
                    {
                        if(res[0]=="-")
                            numN1 = num1 - 2;
                        else
                            numN1 = num1 - 1;
                        var v = parseFloat(value);                                                
                        v = v / Math.pow(10,numN1);
                        if(num2 > 4)
                            v = v.toFixed(4);
                        return v.toString() + "e" + numN1;
                    }else
                        return parseFloat(value);                                                                                  
                }
            }
        },
        series: [
            {
                name: '自动驾驶时长',
                type: 'line',
                data: [132, 101, 120, 167, 190, 232, 210]
            },
            {
                name: '测试时长',
                data: [932, 901, 820,  934, 767, 1330, 4355],
                type: 'line'
            }
        ]
    };
    myChart1_3.setOption(option1_3);

    var myChart1_4 = echarts.init(document.getElementById('pic_1_4'));
    var option1_4 = {
        tooltip: {},
        // dataset: {
        //     source: [
        //         ['模式', '自动驾驶', '汇总'],
        //         ['累计时长', 1420, 5523],
        //     ]
        // },
        xAxis: {
            type: 'category',
            data: ['时长'],
        },
        yAxis: {show: false},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [
            {
                name: '自动驾驶',
                type: 'bar',
                data: [800]
            },
            {
                name: '汇总',
                type: 'bar',
                data: [8583]
            }
        ]
    };
    myChart1_4.setOption(option1_4);

    var myChart1_5 = echarts.init(document.getElementById('pic_1_5'));
    var option1_5 = {
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '告警次数',
                type: 'line',
                data: [32, 10, 10, 17, 10, 23, 21]
            },
        ]
    };
    myChart1_5.setOption(option1_5);


    var myChart1_6 = echarts.init(document.getElementById('pic_1_6'));
    var option1_6 = {
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    var res = value.toString();                                            
                    var numN1 = 0; 
                    var numN2 = 1;
                    var num1=0;
                    var num2=0;
                    var t1 = 1;
                    for(var k=0;k<res.length;k++){
                        if(res[k]==".")
                            t1 = 0;
                        if(t1)
                            num1++;
                        else
                            num2++;                                                                                              
                    }
                                                                    
                    if(Math.abs(value)<1 && res.length>4)
                    {
                        for(var i=2; i<res.length; i++){                                              
                            if(res[i]=="0"){
                                numN2++;
                            }else if(res[i]==".")
                                continue;
                            else
                                break;
                        }
                        var v = parseFloat(value);                                                
                        v = v * Math.pow(10,numN2);
                        return v.toString() + "e-" + numN2;
                    }else if(num1>4)
                    {
                        if(res[0]=="-")
                            numN1 = num1 - 2;
                        else
                            numN1 = num1 - 1;
                        var v = parseFloat(value);                                                
                        v = v / Math.pow(10,numN1);
                        if(num2 > 4)
                            v = v.toFixed(4);
                        return v.toString() + "e" + numN1;
                    }else
                        return parseFloat(value);                                                                                  
                }
            }
        },
        series: [
            {
                name: '脱离次数',
                type: 'line',
                data: [142, 161, 220, 167, 120, 172, 210]
            }
        ]
    };
    myChart1_6.setOption(option1_6);

    function myChart1_resize(){
        myChart1_1.resize();
        myChart1_2.resize();
        myChart1_3.resize();
        myChart1_4.resize();
        myChart1_5.resize();
        myChart1_6.resize();
    }

</script>

<script type="text/javascript">
    var myChart2_1 = echarts.init(document.getElementById('pic_2_1'));
    var option2_1 = {
        title:{
            text:'测试里程'
        },
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '企业1',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '企业2',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            },
            {
                name: '企业3',
                data: [432, 654, 76, 876, 345, 2536, 234],
                type: 'line'
            }
        ]
    };

    myChart2_1.setOption(option2_1);

    var myChart2_2 = echarts.init(document.getElementById('pic_2_2'));
    var option2_2 = option = {
        // title:{
        //     text: '累计测试里程',
        // },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'horizontal',
            left: 10,
            data: ['企业1', '企业2', '企业3']
        },
        series: [
            {
                name: '累计测试里程',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '100%',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 335, name: '企业1'},
                    {value: 310, name: '企业2'},
                    {value: 234, name: '企业3'},
                ]
            }
        ]
    };

    myChart2_2.setOption(option2_2);

    var myChart2_3 = echarts.init(document.getElementById('pic_2_3'));
    var option2_3 = option = {
        // title:{
        //     text: '累计自动驾驶里程',
        // },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'horizontal',
            left: 10,
            data: ['企业1', '企业2', '企业3']
        },
        series: [
            {
                name: '累计自动驾驶里程',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '100%',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 335, name: '企业1'},
                    {value: 310, name: '企业2'},
                    {value: 234, name: '企业3'},
                ]
            }
        ]
    };

    myChart2_3.setOption(option2_3);

    var myChart2_4 = echarts.init(document.getElementById('pic_2_4'));
    var option2_4 = {
        title:{
            text:'自动驾驶里程'
        },
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '企业1',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '企业2',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            },
            {
                name: '企业3',
                data: [432, 654, 76, 876, 345, 2536, 234],
                type: 'line'
            }
        ]
    };
    myChart2_4.setOption(option2_4);

    var myChart2_5 = echarts.init(document.getElementById('pic_2_5'));
    var option2_5 = {
        title:{
            text:'测试时长'
        },
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '企业1',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '企业2',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            },
            {
                name: '企业3',
                data: [432, 654, 76, 876, 345, 2536, 234],
                type: 'line'
            }
        ]
    };

    myChart2_5.setOption(option2_5);

    var myChart2_6 = echarts.init(document.getElementById('pic_2_6'));
    var option2_6 = option = {
        // title:{
        //     text: '累计测试里程',
        // },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'horizontal',
            left: 10,
            data: ['企业1', '企业2', '企业3']
        },
        series: [
            {
                name: '累计测试时长',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '100%',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 335, name: '企业1'},
                    {value: 310, name: '企业2'},
                    {value: 234, name: '企业3'},
                ]
            }
        ]
    };

    myChart2_6.setOption(option2_6);

    var myChart2_7 = echarts.init(document.getElementById('pic_2_7'));
    var option2_7 = option = {
        // title:{
        //     text: '累计自动驾驶里程',
        // },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'horizontal',
            left: 10,
            data: ['企业1', '企业2', '企业3']
        },
        series: [
            {
                name: '累计自动驾驶时长',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '100%',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 335, name: '企业1'},
                    {value: 310, name: '企业2'},
                    {value: 234, name: '企业3'},
                ]
            }
        ]
    };

    myChart2_7.setOption(option2_7);

    var myChart2_8 = echarts.init(document.getElementById('pic_2_8'));
    var option2_8 = {
        title:{
            text:'自动驾驶时长'
        },
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '企业1',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '企业2',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            },
            {
                name: '企业3',
                data: [432, 654, 76, 876, 345, 2536, 234],
                type: 'line'
            }
        ]
    };
    myChart2_8.setOption(option2_8);

    var myChart2_9 = echarts.init(document.getElementById('pic_2_9'));
    var option2_9 = {
        title:{
            text:'脱离次数'
        },
        tooltip: {
            trigger: 'axis'
        },
        dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                start: 0,      // 左边在 10% 的位置。
                end: 100         // 右边在 60% 的位置。
            }
        ],
        xAxis: {
            type: 'category',
            data: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '企业1',
                type: 'line',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '企业2',
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            },
            {
                name: '企业3',
                data: [432, 654, 76, 876, 345, 2536, 234],
                type: 'line'
            }
        ]
    };
    myChart2_9.setOption(option2_9);

    var myChart2_10 = echarts.init(document.getElementById('pic_2_10'));
    var option2_10 = {
        title:{text:'累计脱离次数',},
        tooltip: {},
        dataset: {
            source: [
                ['企业', '企业1', '企业2','企业3'],
                ['累计脱离次数', 800, 858, 398],
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {show: false},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'},
        ]
    };
    myChart2_10.setOption(option2_10);


    function myChart2_resize(){
        myChart2_1.resize();
        myChart2_2.resize();
        myChart2_3.resize();
        myChart2_4.resize();
        myChart2_5.resize();
        myChart2_6.resize();
        myChart2_7.resize();
        myChart2_8.resize();
        myChart2_9.resize();
        myChart2_10.resize();
    }
</script>

<script type="text/javascript">
    var myChart3_1 = echarts.init(document.getElementById('pic_3_1'));
    var option3_1 = {
        color: ['#3398DB'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: [
            {
                type: 'category',
                data: ['企业3', '企业2', '企业1'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        xAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '脱手率',
                type: 'bar',
                barWidth: '60%',
                data: [0.22, 0.830, 0.390]
            }
        ]
    };

    myChart3_1.setOption(option3_1);

    function myChart3_resize(){
        myChart3_1.resize();
    }
</script>


<script type="text/javascript">
    var startTimeValue;
    var endTimeValue;
    var startTimeYear, startTimeMonth, startTimeDay;
    var endTimeYear, endTimeMonth, endTimeDay;
    var spanType;

    function setTimeSpan(){
        spanType = document.getElementById('start_time').type;
        startTimeValue = document.getElementById('start_time').value;
        endTimeValue = document.getElementById('end_time').value;

        startTimeYear = startTimeValue.split('-')[0];
        endTimeYear = endTimeValue.split('-')[0];

        if(spanType == 'month'){
            startTimeMonth = startTimeValue.split('-')[1];
            endTimeMonth = endTimeValue.split('-')[1];
        }

        if(spanType == 'day'){
            startTimeMonth = startTimeValue.split('-')[1];
            endTimeMonth = endTimeValue.split('-')[1];
            startTimeDay = startTimeValue.split('-')[2];
            endTimeDay = endTimeValue.split('-')[2];
        }


        // console.log(startTimeValue);
        // console.log(endTimeValue);
        requestHistoryAll();
        requestExitRate();
    }


    function requestHistoryAll(){
        $.ajax({
            // url: 'http://27.115.34.163:3005/json/car_list', //请求的url
            url: './json/statistic_history', //请求的url
            type: 'get', //请求的方式
            data:{'starttime':startTimeValue,'endtime':endTimeValue,'type':spanType},
            error: function (data) {
                console.log('requestSingleCarTrace请求失败');
            },
            success: function (data) {
                // console.log(data);

                data = data['resultData'];

                var timeArr = [];
                var mileageArr = [];
                var durationArr = [];
                var autoMileageArr = [];
                var autoDurationArr = [];
                var drivemodeSwitchTimesArr = [];

                for(var i = 0; i < data.length; ++i){
                    // TODO: 这里要适配时间粒度
                    if(data[i]['timeMon'] < startTimeValue){
                        console.log(data[i]['time']);
                        continue;
                    }else{
                        // TODO: 这里要适配时间粒度
                        timeArr.push(data[i]['timeMon']);
                        mileageArr.push(data[i]['mileage']);
                        durationArr.push(data[i]['duration']);
                        autoMileageArr.push(data[i]['autoMileage']);
                        autoDurationArr.push(data[i]['autoDuration']);
                        drivemodeSwitchTimesArr.push(data[i]['drivemodeSwitchTimes']);
                    }
                }

                // console.log(timeArr);

                var option1_1 = myChart1_1.getOption();
                option1_1.series[0].data = autoMileageArr;
                option1_1.series[1].data = mileageArr;
                option1_1.xAxis[0].data = timeArr;
                // option1_1.xAxis[0].type = 'time';
                myChart1_1.setOption(option1_1);

                var option1_3 = myChart1_3.getOption();
                option1_3.series[0].data = autoDurationArr;
                option1_3.series[1].data = durationArr;
                option1_3.xAxis[0].data = timeArr;
                // option1_1.xAxis[0].type = 'time';
                myChart1_3.setOption(option1_3);

                var totalMileage, totalAutoMileage;
                var totalDuration, totalAutoDuration;

                var option1_2 = myChart1_2.getOption();
                option1_2.series[0].data = [sum(autoMileageArr)];
                option1_2.series[1].data = [sum(mileageArr)];
                myChart1_2.setOption(option1_2);

                var option1_4 = myChart1_4.getOption();
                option1_4.series[0].data = [sum(autoDurationArr)];
                option1_4.series[1].data = [sum(durationArr)];
                myChart1_4.setOption(option1_4);

                var option1_6 = myChart1_6.getOption();
                option1_6.series[0].data = drivemodeSwitchTimesArr;
                option1_6.xAxis[0].data = timeArr;
                myChart1_6.setOption(option1_6);

            }
            
        });

    }
    
    function requestExitRate(){
        $.ajax({
            // url: 'http://27.115.34.163:3005/json/car_list', //请求的url
            url: './json/statistic_history_exit', //请求的url
            type: 'get', //请求的方式
            error: function (data) {
                console.log('requestExitRate');
            },
            success: function (data) {
                // console.log(data);

                data = data['resultData'];

                var enterName = [];
                var exitRate = [];

                for(var i = 0; i < data.length; ++i){
                    enterName.push(data[i]['id']);
                    exitRate.push(data[i]['exitRate']);
                }

                var option3_1 = myChart3_1.getOption();
                option3_1.series[0].data = exitRate.reverse();
                option3_1.yAxis[0].data = enterName.reverse();
                myChart3_1.setOption(option3_1);
            }
        })
    }

</script>

<script>
    alert("由于后台数据支持没有完成，所以当前页面显示的都是后台返回的假数据，不受参数影响")
</script>