<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- 百度地图GL -->
    <script src="//api.map.baidu.com/api?v=1.0&type=webgl&ak=L2BqxrumWCQogRgq2SyQO3RUpEOk0ZgK"></script>
    <!-- <script src="static/my_common.js"></script> -->
    <script src="https://unpkg.com/mapvgl/dist/mapvgl.min.js"></script>
    <script src="https://unpkg.com/mapvgl/dist/mapvgl.threelayers.min.js"></script>
    <script src="//mapv.baidu.com/build/mapv.min.js"></script>
    <!-- <script src="https://code.bdstatic.com/npm/mapvgl@1.0.0-beta.46/dist/mapvgl.min.js"></script> -->
    <script src="https://code.bdstatic.com/npm/mapvgl@1.0.0-beta.55/dist/mapvgl.min.js"></script>

    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- semantic UI -->
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/sidebar.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/sidebar.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/statistic.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/divider.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/input.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/accordion.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/accordion.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/button.css" rel="stylesheet">

    <!-- 百度地图封装api -->
    <script src="static/common.js"></script>

    <link rel="stylesheet" type="text/css" href="static/component.css">



    <title>汽车城项目demo-v0.1</title>

    <style type="text/css">
        div#map_container    {width: 75%;height: 100%; background: rgb(6, 211, 50); overflow: hidden;margin:0;font-family:"微软雅黑"; float: left;}
        div#info_container    {width: 25%;height: 100%; background: rgb(222, 221, 226); overflow: hidden;margin:0;font-family:"微软雅黑"; float: left;}
        /* div#posDetail {width: 20%; height:35%; background: rgb(211, 21, 21);float: left;}
        div#posNotice {width: 20%; height:65%; background: rgb(15, 12, 201);float: left;} */
	</style>
</head>

<body>
    <div id="mySidebar" class="ui right inverted vertical menu sidebar">
        <script src="static/sidebar.js"></script>
    </div>
    <div class="pusher" style="height: 100%; margin: 0" >
        <div id="map_container"></div>
        <div id="info_container">
            <!-- 时间粒度选择 -->
            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <span class="text">天</span>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>时间单位</div>
                    <!-- <div class="item" onclick= "(function(){
                        document.getElementById('start_time').type='datetime-local';
                        document.getElementById('end_time').type='datetime-local';
                    })()">分钟</div> -->
                    <div class="item active selected" onclick= "(function(){
                        document.getElementById('start_time').type='date';
                        document.getElementById('end_time').type='date';
                    })()">天</div>
                    <div class="disabled item" onclick= "(function(){
                        document.getElementById('start_time').type='week';
                        document.getElementById('end_time').type='week';
                    })()" >周</div>
                    <div class="disabled item" onclick= "(function(){
                        document.getElementById('start_time').type='month';
                        document.getElementById('end_time').type='month';
                    })()" >月</div>
                </div>
            </div>

            <button class="ui blue button" style="float: right;" onclick="setTimeSpan()">
                过滤
            </button>

            <!-- 时间选择 -->
            <p>开始日期：</p>
            <div class="ui input" style="margin-left: 3%; margin-bottom: 3%;"><input id="start_time" type="date" value="2020-01-01"/></div>
            <br />
            <p>结束日期：</p>
            <div class="ui input" style="margin-left: 3%; margin-bottom: 3%;"><input id="end_time" type="date" value="2020-05-20"/></div>

            <div class="ui divider"></div>

            <!-- 速度 -->
            <p>播放速度</p>
            <form oninput="x.value=range1.value">
                <input type="range" id="range1" min="0" max="5" value="0.3" step="0.1" onchange="(function(val){
                    // var curOption = lineLayer.getOptions()
                    // curOption.step = val;
                    // lineLayer.setOptions(curOption);
                })(this.value)"/>
                ->
                <output name="x" for="range1" ></output>
            </form>

            <div class="ui divider"></div>

            <!-- 过滤器 -->
            <div class="ui styled accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  按公司筛选
                </div>
                <div class="content">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="small">
                                <label>公司1</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="medium">
                                <label>公司2</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="large">
                                <label>公司3</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="x-large">
                                <label>公司4</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  按车型筛选
                </div>
                <div class="content">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="small">
                                <label>车型1</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="medium">
                                <label>车型2</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="large">
                                <label>车型3</label>
                            </div>
                            </div>
                            <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="x-large">
                                <label>车型4</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  自选字段
                </div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
    <i id="back-to-top" style="display: inline; z-index: 999;" href="javascript:void(0);" onclick="$('.ui.sidebar').sidebar('toggle');"></i>
</body>
</html>


<script type="text/javascript">
    var startTimeValue;
    var endTimeValue;
    var startTimeYear, startTimeMonth, startTimeDay;
    var endTimeYear, endTimeMonth, endTimeDay;
    var spanType;

    function setTimeSpan(){
        spanType = document.getElementById('start_time').type;
        startTimeValue = document.getElementById('start_time').value;
        endTimeValue = document.getElementById('end_time').value;

        // if(spanType=="date"){
        //     spanType = 'day';
        // }

        startTimeYear = startTimeValue.split('-')[0];
        endTimeYear = endTimeValue.split('-')[0];

        if(spanType == 'month'){
            startTimeMonth = startTimeValue.split('-')[1];
            endTimeMonth = endTimeValue.split('-')[1];
        }

        if(spanType == 'date'){
            startTimeMonth = startTimeValue.split('-')[1];
            endTimeMonth = endTimeValue.split('-')[1];
            startTimeDay = startTimeValue.split('-')[2];
            endTimeDay = endTimeValue.split('-')[2];
        }

        console.log(spanType);
    }

</script>

<script>
    var carList = [];       // 保存车辆名单信息
    var carGeoInfo = new Array();    // 保存车辆地理位置信息，以vin做索引
    var curNum = 0;         //递归处理中当前在第几辆车
    var mapData = [];

    function getCarList(){
        console.log('getCarList in');
        $.ajax({
            url: './json/car_list', //请求的url
            type: 'get', //请求的方式
            error: function (data) {
                console.log('getCarList请求失败');
            },
            success: function (data) {
                data = data['resultData'];
                for(var i = 0; i < data.length; ++i){
                    carList.push(data[i]);
                }
                getGeoInfo();
            }
        })      
    }

    
    function getGeoInfo(){
        console.log('getGeoInfo in');
        if(curNum >= carList.length){
            createMapData();
            return;
            
        }else{
            $.ajax({
                url: './json/vehicle_history', //请求的url
                type: 'get', //请求的方式
                data:{'starttime':startTimeValue,'endtime':endTimeValue,'vin':carList[curNum]['vinno']},
                error: function (data) {
                    console.log('getCarList请求失败');
                },
                success: function (data) {
                    var coordinateArr = [];
                    data = data['resultData'];
                    // console.log(data);

                    for(var i = 0; i < data.length; ++i){
                        coordinateArr.push([data[i]['longitude'], data[i]['latitude']]);
                    }

                    carGeoInfo[carList[curNum]['vinno']] = coordinateArr;

                    // addMapData(carList[curNum]['vinno']);

                    curNum += 1;

                    getGeoInfo();
                }
            }) 
        }
    }

    function addMapData(carVin){
        console.log('addMapData in');
        for(loc in carGeoInfo[carVin])
        console.log(loc);
            mapData.push({
                geometry:{
                    type:'Point',
                    coordinates:loc
                }
            })

        honeycombLayer.setData(mapData);
    }


    function createMapData(){
        console.log('createMapData in');
        for(var vin in carGeoInfo){
            console.log(carGeoInfo[vin])
            for(loc in carGeoInfo[vin])
                // console.log(loc);
                mapData.push({
                    geometry:{
                        type:'Point',
                        coordinates:carGeoInfo[vin][loc]
                    }
                })
        }

        honeycombLayer.setData(mapData);
    }

    function initialMapData(){
        setTimeSpan();
        getCarList();
    }


</script>

<!-- 绘制地图 -->
<script>
    /* global BMapGL */

    /* global mapv */

    /* global mapvgl */

    /* global initMap */

    var map = initMap({
        tilt: 10,
        center: [114.875568,30.558297],
        zoom: 5
    });
    var data = [];


    var view = new mapvgl.View({
        map: map
    });

    var honeycombLayer = new mapvgl.HoneycombLayer({
        // 设置颜色梯度
        gradient: {
            0.0: 'rgb(50, 50, 256)',
            0.1: 'rgb(50, 250, 56)',
            0.5: 'rgb(250, 250, 56)',
            1.0: 'rgb(250, 50, 56)'
        },
        // 是否显示文字
        showText: true,
        // 设置文字样式
        textOptions: {
            fontSize: 13,
            color: '#444444',
            format: function (count) {
                return count >= 10000 ? Math.round(count / 1000) + 'k'
                : count >= 1000 ? Math.round(count / 100) / 10 + 'k' : count;
            }
        },
        height: 100, // 最大值的像素高度，为0时显示平面
        //enableCluster: true, // 开启点聚合，建议数据量较大时打开，会提前根据地图级别将距离较近的点进行聚合
        opacity: 0.1, // 透明度
        maxZoom: 25, // 图层刷新最大地图级别，高于此值不再更新图层
        minZoom: 8, // 图层刷新最小地图级别，低于此值不再更新图层
        size: 25 // 蜂窝图像素宽度
    });
    view.addLayer(honeycombLayer);
    // honeycombLayer.setData(data);

    initialMapData();

    </script>

<script>
    $('.ui.dropdown')
        .dropdown()
    ;

    $('.ui.accordion')
        .accordion()
    ;

</script>